body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero, .footer {
    background-color: #1f2937;
}

.hero, .information {
    padding-bottom: 100px;
}

.logo, .hero-text, .action-text {
    font-weight: 800;
    color: #f9faf8;
}

.logo, .action-text {
    font-size: 24px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

.header-links a {
    text-decoration: none;
}

.content {
    max-width: 1050px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.hero-text {
    font-size: 48px;
}

.secondary-text, .header-links a, .action-message, .footer {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    width: 550px;
}

.info-text, .quote-text {
    font-size: 36px;
    color: #1f2937;
}

.info-text {
    font-weight: 800;
    text-align: center;
    margin: 50px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 10px;
}

.card-image {
    border-radius: 15px;
    border: 5px solid #3882f6;
    width: 100%;
    height: auto;
}

.card p {
    text-align: center;
    margin: 0 auto;
}

.testimonial {
    background-color: #e5e7eb;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    width: 800px;
    font-style: italic;
}

.quote-source {
    font-weight: 700;
    font-size: 24px;
    width: 800px;
    text-align: right;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
}

.hero-button {
    margin-top: 10px;
}

.call-to-action {
    padding: 25px;
}

.message-box {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 25px 75px;
}

.action-button {
    border: 3px solid #f9faf8;
}

.footer {
    text-align: center;
    padding: 40px 0;
}
